body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.social-icons a {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
}

.social-icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }